<div class="history">
  <h3>Budget dépensé: {{resourceBuyed}}</h3>
  <h3>Mes activités effectuées</h3>
  <div>
    <nz-table #basicTable [nzData]="data" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Activité</th>
          <th>Resources depensées</th>
          <th>Résultat</th>
        </tr>
      </thead>
      <tbody>
        <tr nz-popover [nzPopoverContent]="popoverTemplate" *ngFor="let data of basicTable.data">
          <ng-template #popoverTemplate>
            <span *ngIf="getDetailByType(data.activity).length===0">Personne ne paye</span>
            <span
              *ngIf="getDetailByType(data.activity).length!==0 && getDetailByType(data.activity)[0].type==='total'">{{getDetailByType(data.activity)[0].hint}}</span>
            <nz-table class="basicTable"
              *ngIf="getDetailByType(data.activity).length!==0 && getDetailByType(data.activity)[0].type==='basic'"
              #obligatoireTable [nzData]="basicDetail" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>Joueur</th>
                  <th>Ressource(s) obligatoire(s)</th>
                </tr>
              </thead>
      <tbody>
        <tr *ngFor="let b of obligatoireTable.data">
          <td>{{b.player}}</td>
          <td>{{b.amount}}</td>
        </tr>
      </tbody>
    </nz-table>
    <nz-table class="basicTable"
      *ngIf="getDetailByType(data.activity).length!==0 && getDetailByType(data.activity)[0].type==='bonus'" #playerTable
      [nzData]="getDetailByType(data.activity)" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Joueur</th>
          <th>Depensé</th>
          <th>{{data.activity}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of playerTable.data">
          <td>{{h.player}}</td>
          <td>{{h.amount}}</td>
          <td>-{{h.bonus}}</td>
        </tr>
      </tbody>
    </nz-table>
    </ng-template>
    <td>
      <img [src]="data.src" [height]="20" [width]="20">
      {{data.activity}}
    </td>
    <td>{{ data.money }}</td>
    <td>{{ data.result }}</td>
    </tr>
    </tbody>
    </nz-table>
  </div>
  <h3>Cartes de risque piochées</h3>
  <div class="myContainer">
    <div *ngFor="let card of riskCards">
      <app-risk-back [card]="card" [title]="activityID" [isDiabled]="true"></app-risk-back>
    </div>
  </div>
</div>