HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
Angular/.idea/workspace.xml
Angular/.idea/codeStyles/codeStyleConfig.xml
Angular/.idea/modules.xml
Angular/.idea/inspectionProfiles/Project_Default.xml
Angular/.idea/codeStyles/Project.xml
Angular/package-lock.json
