.resultContainer {
  width: 99.5%;
  height: 100%;
  padding-top: 30px;
  text-align: center;
}

.projectInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  margin-bottom: 25px;
}


.rank{
  position: absolute;
  left: 10px;
  z-index: 999;
  margin-top: -20px;
}

.profile{
  border-radius: 50%;
  z-index:999;
  position: absolute;
  margin-top: -40px;
  left:100px;
}

.resultColumn {
  text-align: center;
}

.result {
  height: 500px;
  background-color: #FBF8A0;
  border-radius: 15px;
  margin: 5px;
  padding-top: 10px;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
}

nz-row{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.details{
  display: flex;
  flex-direction: column;
  text-align: left;
}

#start {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 240px;
  height: 50px;
  font-size: 30px;
}
