.container{
  text-align: center;
}

h1{
  color: #3f3f3f;
  margin-top: 3%;
}

#start{
  margin-top: 60px;
  width: 240px;
  height: 50px;
  font-size: 30px;
}

.information{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  align-items: center;
}

h1{
  margin-right: 35%;
}

h4{
  margin-left: 5px;
}

img{
  border-radius: 50%;
  border: 1px solid #8b8b8b;
}
