.role-container {
  background: #ECECEC;
  padding: 12px;
  height: 400px;
  overflow-y: auto;
  text-align: center;
}

img{
  border-radius: 50%;
  border: solid 1px #3f3f3f;
  z-index:999;
  position: absolute;
  margin-top: -40px;
  left:120px
}

nz-card {
  height: 376px;
}

nz-card-tab{
  height: 100%;
}

.info-container{
  min-height: 250px;
}

