<div class="container" (click)="sendStep()">
  <nz-card [id]="'stepCard' + step.title" [nzBordered]="true" [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
    <div class="contenu" *ngIf="!isHistory">
      <h6 nz-title>{{step?.activityTitle}}</h6>
      <p>{{step?.description}}</p>
      <div class="step-container">
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-card nzTitle="Action(s) spéciale(s)"
                     *ngIf="step.buyingActions.length>0 || step.negotiationActions.length>0">
              <div class="resource-buyer" *ngIf="step.buyingActions.length>0">
                <div *ngFor="let buying of step.buyingActions">
                  <app-resource-buyer [buyer]="buying.roleID"></app-resource-buyer>
                </div>
              </div>
              <div class="negociation-class" *ngIf="step.negotiationActions.length>0">
                <div *ngFor="let nego of step.negotiationActions">
                  <app-negociation [fromUser]="nego.giverID" [toUser]="nego.receiverID"></app-negociation>
                </div>
              </div>
            </nz-card>
          </div>
          <div nz-col nzSpan="1"></div>
          <div nz-col nzSpan="8">
            <div *ngFor="let payments of step?.payContractAction">
              <app-payment-contract [receiverID]="payments.receiverID" [percent]="payments.amount"
                                    [giverID]="payments.giverID">
              </app-payment-contract>
            </div>
          </div>
        </div>
        <div nz-row style="margin-top: 10px">
          <div nz-col nzSpan="24">
            <nz-card style="" nzTitle="Activités">
              <nz-table nzBordered [nzData]="test" #table [nzFrontPagination]="false">
                <thead>
                <tr>
                  <th><img src="../../../assets/icons/person.png" [width]="20" [height]="20" alt="Person"></th>
                  <th><img src="../../../assets/icons/faillante.png" [width]="20" [height]="20" alt="faillante"></th>
                  <th><img src="../../../assets/icons/duration.png" [width]="20" [height]="20" alt="duration"></th>
                  <th *ngIf="!subscription.isVersionInitial"><img src="../../../assets/icons/quality.png" [width]="20" [height]="20" alt="duration"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of step?.payingActions; let t of table.data">
                  <td>
                    <app-activity-displayer [role]="data?.roleID" [type]="'MANDATORY'"
                                            [extraPaying]="step.extraPayment"
                                            [activitiesBenefits]="data?.actions[0].actions">
                    </app-activity-displayer>
                  </td>
                  <td>
                    <app-activity-displayer [role]="data?.roleID" *ngIf="data?.actions.length > 1"
                                            [isActivity]="false" [activitiesBenefits]="data?.actions[1].actions"
                                            [type]="'RISKS'">
                    </app-activity-displayer>
                  </td>
                  <td>
                    <app-activity-displayer *ngIf="data?.actions.length > 2" [role]="data?.roleID"
                                            [activitiesBenefits]="data?.actions[2].actions" [isActivity]="false"
                                            [type]="'DAYS'">
                    </app-activity-displayer>
                  </td>
                  <td *ngIf="!subscription.isVersionInitial">
                    <app-activity-displayer *ngIf="data?.actions.length > 3" [role]="data?.roleID"
                                            [activitiesBenefits]="data?.actions[3].actions" [isActivity]="false"
                                            [type]="'QUALITY'">
                    </app-activity-displayer>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
    <div class="history" *ngIf="isHistory">
      <app-history [listOfData]="step?.history" [activityID]="step?.title" [riskCards]="step.riskCards">
      </app-history>
    </div>
  </nz-card>
</div>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="openHistory()" nzShape="circle">
    <i nz-icon nzType="history"></i>
  </button>
</ng-template>

<ng-template #titleTemplate>
  <div class="templateTitle">
    <div class="titleContainer">
      <h4 nz-title>Etape {{step?.title}}</h4>
    </div>
    <div class="durationContainer"><b>+{{step?.numberOfDays}}j</b></div>
    <div class="risk" *ngFor="let item of counter(step.risks); let i=index">
      <span><b>R{{i + 1}}</b></span>
    </div>
  </div>
</ng-template>
