<div class="step-container">
  <div nz-row>
    <div nz-col nzSpan="4">
      <nz-card style="">
        <p>Risque 1</p>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card style="">
        <p>Risque 2</p>
      </nz-card>
    </div>
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="4"></div>
  </div>
  <div nz-row>

    <nz-card style="" nzTitle="Nom 'etape">
      <div nz-card-grid style="width: 90%">Description</div>
      <div nz-card-grid style="width: 10%">2j</div>
    </nz-card>


  </div>
  <div nv-row>
    <div nz-col nzSpan="6">
      <nz-card style="" nzTitle="Action(s)	spéciale(s) ">
        <p></p>
      </nz-card>
    </div>
    <div nz-col nzSpan="6">
      <nz-card style="" nzTitle="Risques ">
        <p></p>
      </nz-card>
    </div>
  </div>
</div>
