<div class="container" *ngIf="isChat">
  <div class="header">
    <button nz-button nzType="danger" (click)="closeChat()" nzShape="circle">
      <i nz-icon nzType="close"></i>
    </button>
  </div>

  <div class="list">
    <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-item>
        <nz-list-item (click)="getChat()">
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzAvatar]="'../../assets/icons/Chat.png'">
            <ng-template #nzTitle>
              <b>{{ item.title }}</b>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>

<app-chat-dialogue [isOpenDialog]="isDialog" (sendCloseDialog)="ifCloseDialog($event)"></app-chat-dialogue>
