<div class="container" *ngIf="isOpenDialog">
  <countdown [config]="{leftTime: data.time}"></countdown>
  <div class="header">
    <nz-avatar [nzSrc]="'../../assets/icons/Chat.png'"></nz-avatar>
    <h5>{{data?.otherUserName}}</h5>
    <button nz-button nzType="danger" (click)="closeChat()" nzShape="circle">
      <i nz-icon nzType="close"></i>
    </button>
  </div>
  <div class="negociation">
    <h4>Contract {{contractNumber}}</h4>
    <button *ngIf="!isProposer" (click)="accepteContract()" [ngStyle]="accepteStyle">Accepeter</button>
  </div>
  <div class="context">
    <div *ngFor="let message of messages">
      <div class="sender" *ngIf="message.isSender">
        <app-chat-message [message]="message.message"></app-chat-message>
      </div>
      <div class="receiver" *ngIf="!message.isSender">
        <app-chat-message [message]="message.message"></app-chat-message>
      </div>
    </div>
  </div>

  <div class="senderBox">
    <div class="contract-container">
      <p>Un contrat:
        <input nz-input type="number" placeholder="0" [max]="1000" [min]="0" [(ngModel)]="contract">
        <b> K</b>
        <button (click)="sendContract()">Proposer un contrat</button>
      </p>

    </div>
    <div class="desc-container">
      <input [(ngModel)]="msg" id="msg" rows="4" nz-input placeholder="...">
      <button id="sendBnt" nz-button (click)="sendMessage()" nzShape="circle">
        <i class="iconfont icon-send">
        </i>
      </button>
    </div>
  </div>
</div>

