.container {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border:#e0620d;
  width: 300px;
  height: 400px;
  bottom: 0;
  right: 20px;
  overflow-y: auto;
}

.header{
  width: 300px;
  height: 35px;
  background-color:burlywood;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
