<div class="activity1Container">
  <input nz-input type="number" placeholder="Nombre de ressource" [max]="100" [min]="0" [(ngModel)]="resourceNb">
  <p style="padding: 10px">Ça coûte <b>{{ resourceNb * multiple}} k</b></p>
  <button nz-button nzType="default" nzShape="round" (click)="popConfirm()">Confirmer</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Confirmation" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Êtes-vous sûr d'acheter {{resourceNb}} ressources?</p>
  </nz-modal>
  <p>Max resources: {{cost?.maxCost}}</p>
  <p>Min resources: {{cost?.minCost}}</p>
</div>