<div class="activity1Container">
  <h2>Acheter des ressources</h2>
  <div style="height: 20px"></div>
  <input nz-input type="number"
         placeholder="Nombre de ressource"
         [max]=moneyRemain
         [min]="0"
         [(ngModel)]="ressourceNb">
  <p style="padding: 10px">Ça coûte <b>{{ ressourceNb}} k</b></p>
  <button nz-button nzType="default" nzShape="round" (click)="popConfirm()">Confirmer{{moneyRemain}}</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Confirmation" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Êtes-vous sûr d'acheter {{ressourceNb * multiple}} ressources?</p>
  </nz-modal>

</div>
