.container {
  height: calc(100vh - 60px);
  width: 100vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  opacity: 0.95;
}

.headers {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tuto{
  position: absolute;
  right: 60px;
  top: 10px;
  margin-bottom: -10px;
}

#listOfPlayers {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-bottom: -10px;
}

#groupChat {
  position: absolute;
  left: 10px;
  top: 10px;
  margin-bottom: -10px;
  border: none;
  background-color: white;
}

.left-container {
  height: calc(100vh - 60px);
  overflow-x: auto;
  overflow-y: hidden;
  /*background-color: rgba(139, 139, 139, 0.3);*/
  display: flex;
  flex-direction: row;
}

.right-container {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

h2 {
  display: flex;
  justify-content: center;
}

nz-badge {
  margin-right: 20px;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}

.personalInfo {
  margin-left: calc(100% - 90% - 68px);
  margin-top: 50px;
}

.activity {
  height: 43vh;
  background-color: white;
  border-radius: 10px;
  opacity: 0.99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wait {
  width: calc(90% + 30px);
  height: 350px;
  margin-left: 30px;
  margin-top: 30px;
}

.activityContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

#nego {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 42%;
}

#end {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 42%;
}

input {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 30px;
}

.dialog-container {
  height: 50vh;
  position: absolute;
  bottom: 0;
  width: 30vw;
  right: 5%;
}

.groupchat-container {
  height: 50vh;
  position: absolute;
  bottom: 0;
  width: 30vw;
  right: 5%;
}

.myContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.players {
  z-index: 999;
  position: absolute;
  top: 15px;
  right: 15px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #e0e0e0;
  padding: 10px;
  border: solid 1px #123074;
}

.groupChat {
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  overflow-y: auto;
  margin: 10px;
}

.playerContianer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#negociation {
  position: absolute;
  bottom: 5px;
  z-index: 999;
  right: 5px;
}

.nego-container {
  position: relative;
  bottom: 10px;
  right: 10px;
  display: flex;
}

.personActivity {
  height: 374px;
  background-color: white;
}

.allContainerss {
  max-height: 100%;
  max-width: 100%;
  background-image: url('../../../assets/icons/new123.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow-y: hidden;
}

.mat-icon {
  border: none;
  font-size: 50px;
  width: 50px;
}

.nego-containers{
  display: flex;
  flex-direction: row;
}
