<div [hidden]="!isLoading" class="allContainerss">
  <div class="headers">
    <button id="groupChat" nz-button nzSize="small" (click)="openGroupChat()">
      <div *ngIf="hasBadge">
        <mat-icon matBadgeSize="medium" matBadge="!" matBadgePosition="above after">chat</mat-icon>
      </div>
      <div *ngIf="!hasBadge">
        <mat-icon>chat</mat-icon>
      </div>
    </button>
    <h2 nz-title>Domego - Etape {{currentActivity?.title}} - {{subscription.myRole.username}}</h2>
    <img id="tuto" src="../../../assets/wenhao.png" (click)="openTotu()" [width]="40" [height]="40">
    <img id="listOfPlayers" (click)="showPlayers()" src="../../../assets/icons/menu.png" [width]="40" [height]="40">
  </div>
  <nz-drawer [nzWidth]="460" [nzClosable]="true" [nzVisible]="isPlayers" nzPlacement="right" nzTitle="Menu"
             (nzOnClose)="closePlayers()">
    <app-list-history></app-list-history>
  </nz-drawer>
  <div nz-row class="container">
    <div class="left-container" nz-col [nzSpan]="16" [nzPush]="8">
      <div style="height: 30px"></div>
      <div class="activityContainer">
        <div class="activity" nz-col [nzSpan]="11">
          <app-activity [activities]="activities" (sendBuy)="getBuy($event)" [tabs]="tabs"></app-activity>
        </div>
        <div class="activity" nz-col [nzSpan]="11">
          <app-person-information>
          </app-person-information>
        </div>
        <div class="activity" nz-col [nzSpan]="11">
          <app-projet-information></app-projet-information>
        </div>
        <div class="activity" nz-col [nzSpan]="11">
          <app-contract></app-contract>
        </div>
      </div>
      <div class="dialog-container">
        <div *ngFor="let i of listOfDialog">
          <div *ngIf="i.started">
            <app-chat-dialogue [data]="i" (openDialogue)="getOpenDialoue($event)"
                               (minusDialogue)="closeChatDialogue($event)"></app-chat-dialogue>
          </div>
        </div>
      </div>
      <div class="groupchat-container" [ngStyle]="headerStyle" *ngIf="showGroupChat">
        <app-chat-group #groupChat (minusDialogue)="minusDialogue($event)" (openDialogue)="openMinusedDialogue($event)"
                        (closeDialogue)="closeGroupChat()"></app-chat-group>
      </div>
      <img src="../../../assets/icons/duihua.png" id="negociation" *ngIf="isShow"
           (click)="launchNegotiation()" [height]="80" [width]="70">
    </div>
    <div id="stepsContainer" class="right-container" nz-col [nzSpan]="8" [nzPull]="16"
         style="background-color: #ececec">
      <div class="stepContainer" #stepContainers *ngFor="let s of currentStep" [id]="s.title">
        <app-step [step]="s" (currentStep)="getCurrentStep($event)" (sendTestClick)="getClickTest($event)"
                  (sendStepTest)="getStepTest($event)"></app-step>
      </div>
    </div>
  </div>
</div>
<div [hidden]="isLoading">
  <app-loading></app-loading>
</div>

<nz-modal [nzVisible]="isRiskCard" [nzFooter]="modalFooter" nzTitle="Risques">
  <div class="myContainer" *ngIf="isRiskCard && riskCard !== null">
    <div *ngFor="let card of riskCard; let i=index">
      <app-risk-back [myTiming]="i + 1" [card]="card" [isDiabled]="false" [title]="riskOfActivityId"></app-risk-back>
    </div>
  </div>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="closeRiskCard()">OK</button>
  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="establish.visible" [nzFooter]="modalEstablishFooter" nzTitle="Negotiation" nzClosable="false">
  <p>Une négotiation avec {{establish.name}} va être lancée. Si vous ne vous mettez pas d'accord avant la fin du temps
    imparti, un contrat sera tiré au sort.</p>
  <ng-template #modalEstablishFooter>
    <button nz-button nzType="primary" (click)="establishNegotiation(establish.negoID)">OK</button>
  </ng-template>
</nz-modal>

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <i nz-icon nzType="sound" style="color: rgb(16, 142, 233);" nzTheme="outline">
        </i>
      </span>
      <div class="ant-notification-notice-message">Paiement effectué</div>
      <div class="ant-notification-notice-description" *ngIf="totalAmount>0">
        <b>{{currentPlayer?.title}}</b> avez payé <b>{{totalAmount}}</b> ressource(s) pour reduire
        <b>{{riskReduced}}</b> risque(s) et <b>{{daysReduced}}</b> délai(s)
      </div>
    </div>
  </div>
</ng-template>

<nz-modal [nzWidth]="930" [nzClosable]="true" nzTitle="Tutorial" [nzVisible]="isTutorial" [nzFooter]="ok">
  <nz-steps [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="Acheter des resources" nzStatus="finish" nzIcon="shopping-cart"></nz-step>
    <nz-step nzTitle="Alouer des recources" nzStatus="finish" nzIcon="pay-circle"></nz-step>
    <nz-step nzTitle="Négociation" nzStatus="finish" nzIcon="team"></nz-step>
  </nz-steps>
  <nz-divider></nz-divider>
  <div *ngIf="index ===0">
    <h4>Acheter des reources</h4>
    <img src="../../../assets/acheter.gif">
  </div>
  <div *ngIf="index ===1">
    <h4>Alouer des reources</h4>
    <img src="../../../assets/payer.gif">
  </div>
  <div *ngIf="index ===2">
    <h4>Négociation</h4>
    <div class="nego-containers">
      <div>
        <nz-steps [nzCurrent]="nego" nzDirection="vertical" (nzIndexChange)="onNegoChange($event)">
          <nz-step nzTitle="Lancer - Accepter" nzStatus="finish"></nz-step>
          <nz-step nzTitle="Contrat" nzStatus="finish"></nz-step>
          <nz-step nzTitle="Chat privé" nzStatus="finish"></nz-step>
        </nz-steps>
      </div>
      <div>
        <img src="../../../assets/nego.gif" *ngIf="nego===0">
        <img src="../../../assets/contrat.gif" *ngIf="nego===1">
        <img src="../../../assets/chatprive.gif" *ngIf="nego===2">
      </div>
    </div>
  </div>
  <ng-template #ok>
    <button nz-button nzType="primary" (click)="closeTutorial()">OK</button>
  </ng-template>
</nz-modal>
