.container{
  height: 100%;
  display: flex;
}

nz-card{
  width: 100%;
}

.resource{
  display: flex;
}

.inner{
  display: flex;
}

.resourceCube{
  width: 30px;
  height: 30px;
  background-color: #1d39af;
  border-radius: 50%;
}

h3{
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.content-container{
  margin-top: 20px;
  height: 150px

}

