.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

nz-card{
  width: 100%;
  background-color: #f0f2f5;
}

.resource{
  display: flex;
}

.inner{
  display: flex;
}

.resourceCube{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

h3{
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.content-container{
  margin-top: 20px;
  height: 160px
}

.contract-info{
  height: 260px;
}

