<div class="container">
  <nz-card
    id="person-card"
    [nzTitle]="extra"
    [nzActions]="[description, pointVictoire, special, plan]" [nzExtra]="extraBnt">
    <div *ngIf="isPointsVistoire" class="content-container">
      <h4>Points de victoire:</h4>
      <p *ngFor="let item of myInformation?.mission.pointsDeVistore">
        {{item}}
      </p>
    </div>
    <div *ngIf="isSpecial" class="content-container">
      <h4>Spécial:</h4>
      <p *ngFor="let item of myInformation?.mission.specialActivity">
        {{item}}
      </p>
    </div>
    <div *ngIf="isDescription" class="content-container">
      <h4>Description:</h4>
      <p>{{myInformation.description}}</p>
    </div>

    <div *ngIf="isPlan" class="content-container">
      <h4>Plan</h4>
      <p>Resources nécessaires: <b>Max: {{cost.maxCost}}</b>/<b>Min: {{cost.minCost}}</b></p>
      <p>Durée du projet: <b>Max: {{day.maxTime}}</b>/<b>Min: {{day.minTime}}</b></p>
      <p>Defaillance du projet: <b>Max: {{risk.maxFailure}}</b>/<b>Min: {{risk.minFailure}}</b></p>
    </div>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="myInformation.src"></nz-avatar>
  </ng-template>
  <ng-template #pointVictoire style="position: absolute; bottom: 0">
    <div (click)="showPointsVistoire()">
      <i class="iconfont icon-mubiao">
      </i><br>
      Points de victoire
    </div>
  </ng-template>
  <ng-template #extraBnt>
    <button nz-button
            *ngIf="currentMonney<=0"
            nz-popconfirm
            nzPopconfirmTitle="Voulez-vous déclarer une faillte?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirm()"
            (nzOnCancel)="cancel()"
            [nzIcon]="iconTpl"
            nzType="primary"><i nz-icon nzType="warning"></i>
      Faillte
    </button>
  </ng-template>
  <ng-template #iconTpl>
    <i nz-icon nzType="exclamation" style="color: red;"></i>
  </ng-template>
  <ng-template #special>
    <div (click)="showSpecial()">
      <i class="iconfont icon-hetong">
      </i>
      <br>
      Spécial
    </div>
  </ng-template>
  <ng-template #description>
    <div (click)="showDescription()">
      <i id="description" class="iconfont icon-description"></i>
      <br>
      Description
    </div>
  </ng-template>

  <ng-template #plan>
    <div (click)="showPlan()">
      <i id="planning" class="iconfont icon-touzijihuaguanli"></i>
      <br>
      Plan
    </div>
  </ng-template>

  <ng-template #extra>
    <h4>{{myInformation?.title}}</h4>
    <div class="resource">
      <nz-avatar [nzSrc]="myInformation.src"></nz-avatar>
      <div class="inner">
        <img src="../../../assets/moneybag.png" [width]="30" [height]="30">
        <h3>{{currentMonney.toFixed(2)}}K</h3>
      </div>
      <br>
      <div class="inner" style="margin-left: 30px">
        <div class="resourceCube" [ngStyle]="{backgroundColor: myInformation.style.background}"></div>
        <h3>{{currentResource}}</h3>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <i nz-icon nzType="money-collect"
               style="color: rgb(16, 142, 233);"
               nzTheme="outline">
            </i>
          </span>
      <div class="ant-notification-notice-message">Paiement du contract</div>
      <div class="ant-notification-notice-description">
        Une partie du contrat a été payée: <b>{{giverRoleName}}</b> a payé <b>{{paymentAmount}}
        k</b> au <b>{{receiverRoleName}}</b>
      </div>
    </div>
  </div>
</ng-template>
