<div class="container">
  <nz-card [nzActions]="[description, pointVictoire, special, plan]">
    <nz-card-meta
      [nzDescription]="extra"
      [nzTitle]="myInformation.title"
      [nzAvatar]="avatarTemplate">
    </nz-card-meta>
    <div *ngIf="isPointsVistoire" class="content-container">
      <h6>Points de victoire:</h6>
      <p *ngFor="let item of myInformation?.mission.pointsDeVistore">
        {{item}}
      </p>
    </div>
    <div *ngIf="isSpecial" class="content-container">
      <h6>Spécial:</h6>
      <p *ngFor="let item of myInformation?.mission.specialActivity">
        {{item}}
      </p>
    </div>
    <div *ngIf="isDescription" class="content-container">
      <h6>Description:</h6>
      <p>{{myInformation.description}}</p>
    </div>

    <div *ngIf="isPlan" class="content-container">
      <h6>Plan</h6>
      <p>Budget à dépenser: <b>Max: {{cost.maxCost}}</b>/<b>Min: {{cost.minCost}}</b></p>
      <p>Durée à reduire: <b>Max: {{day.maxTime}}</b>/<b>Min: {{day.minTime}}</b></p>
      <p>Defaillance à reduire: <b>Max: {{risk.maxFailure}}</b>/<b>Min: {{risk.minFailure}}</b></p>
    </div>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="myInformation.src"></nz-avatar>
  </ng-template>
  <ng-template #pointVictoire style="position: absolute; bottom: 0">
    <span (click)="showPointsVistoire()">
      <i class="iconfont icon-mubiao">
      </i><br>
      Points de victoire
    </span>
  </ng-template>
  <ng-template #special>
    <span (click)="showSpecial()">
      <i class="iconfont icon-hetong">
      </i>
      <br>
    Spécial
    </span>
  </ng-template>
  <ng-template #description>
    <span (click)="showDescription()">
      <i id="description" class="iconfont icon-description"></i>
      <br>
      Description
    </span>
  </ng-template>

  <ng-template #plan>
    <span (click)="showPlan()">
      <i id="planning" class="iconfont icon-touzijihuaguanli"></i>
      <br>
      Plan
    </span>
  </ng-template>

  <ng-template #extra>
    <div class="resource">
      <div class="inner">
        <img src="../../../assets/moneybag.png" [width]="30" [height]="30">
        <h3>{{currentMonney}}K</h3>
      </div>
      <br>
      <div class="inner" style="margin-left: 30px">
        <div class="resourceCube" [ngStyle]="{backgroundColor: myInformation.style.background}"></div>
        <h3>{{currentResource}}</h3>
      </div>
    </div>
  </ng-template>
</div>
