<router-outlet></router-outlet>
<!--<app-projet-information-duration [currentDay]="200"></app-projet-information-duration>-->
<!--<app-projet-information-risk [currentRisk]="50"></app-projet-information-risk>-->
<!--<app-person-information></app-person-information>-->
<!--<div *ngFor="let i of test1">-->
<!--<app-chat-dialogue [data]="i" ></app-chat-dialogue>-->
<!--</div>-->
<!--<button (click)="open()">Open</button>-->

<!--<div class="myContainer">-->
  <!--<div *ngFor="let ii of test1; let i=index">-->
    <!--<app-risk-back [myTiming]="i + 1"></app-risk-back>-->
  <!--</div>-->
<!--</div>-->
<!--<p><b nz-tooltip nzTooltipTitle="pdfsdfs">sdfsdfsd</b></p>-->
<!--<app-result></app-result>-->
