<div class="container" *ngIf="isOpenDialog">
  <div class="header">
    <nz-avatar [nzSrc]="'../../assets/icons/Chat.png'"></nz-avatar>
    <h5>with someone</h5>
    <button nz-button nzType="danger" (click)="closeChat()" nzShape="circle">
      <i nz-icon nzType="close"></i>
    </button>
  </div>
  <div class="negociation">
    <h4>Contract {{contractNumber}}</h4>
    <button *ngIf="listOfSend.length>0" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                                                                                                      nzType="check"></i>
    </button>
    <h4>0/2</h4>
  </div>
  <div class="context">
    <div *ngFor="let s of listOfSend">
      <div class="sender" *ngIf="s.class === 'sender'">
        <app-chat-sender [description]="s.description"></app-chat-sender>
      </div>
      <div class="receiver" *ngIf="s.class === 'receiver'">
        <app-chat-sender [isReceiver]="true" [description]="s.description" [contract]="s.contract"></app-chat-sender>
      </div>
    </div>
  </div>

  <button (click)="testAddReceiver()">teststststts</button>

  <div class="senderBox">
    <div class="contract-container">
      <p>Un contrat:
        <nz-input-number
          [(ngModel)]="value"
          [nzMin]="0"
          [nzMax]="1000"
          [nzStep]="1">
        </nz-input-number>
        <b> K</b>
      </p>
      <button (click)="senContract()">Send contract</button>
    </div>
    <div class="desc-container">
      <textarea rows="4" nz-input [(ngModel)]="inputValue" placeholder="Description"></textarea>
      <button id="sendBnt" nz-button (click)="sendDescription()" nzShape="circle">
        <i class="iconfont icon-send">
        </i>
      </button>
    </div>
  </div>
</div>
