<div class="container" *ngIf="isOpenDialog">
  <div class="header">
    <nz-avatar [nzSrc]="'../../assets/icons/Chat.png'"></nz-avatar>
    <h5>with someone</h5>
    <button nz-button nzType="danger" (click)="closeChat()" nzShape="circle">
      <i nz-icon nzType="close"></i>
    </button>
  </div>
  <div class="negociation">
    <h4>Contract {{contractNumber}}</h4>
    <h4>0/2</h4>
  </div>
  <div class="context">
    <div *ngFor="let message of messages">
      <div class="sender" *ngIf="message.userID === userID">
        <app-chat-message [message]="message.message"></app-chat-message>
      </div>
      <div class="receiver" *ngIf="message.userID === userID">
        <app-chat-message [message]="message.message"></app-chat-message>
      </div>
    </div>
  </div>

  <div class="senderBox">
    <div class="contract-container">
      <p>Un contrat:
        <nz-input-number [(ngModel)]="value" [nzMin]="0" [nzMax]="1000" [nzStep]="1">
        </nz-input-number>
        <b> K</b>
      </p>
      <button (click)="sendContract()">Proposer un contrat</button>
    </div>
    <div class="desc-container">
      <input #message rows="4" nz-input [(ngModel)]="inputValue" placeholder="..." />
      <button id="sendBnt" nz-button (click)="sendMessage(message.value)" nzShape="circle">
        <i class="iconfont icon-send">
        </i>
      </button>
    </div>
  </div>
</div>