.container {
  background-color: #f0f2f5;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  overflow-y: auto;
  position: absolute;
  right: 330px;
  bottom: 0;
}

.context {
  width: 295px;
  height: 205px;
  background-color: whitesmoke;
  overflow-y: auto;
}

.senderBox {
  height: 150px;
  width: 400px;
  padding-top: 10px;
  background-color: #e0e0e0;
  overflow-y: auto;
  border-top: 2px solid #efefef;
  display: inline-block;
}

.receiverBox {
  background-color: #fcf6eb;
  border-right: 2px solid #efefef;
}

.header {
  width: 400px;
  height: 35px;
  background-color: burlywood;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:0px;
}

nz-avatar {
  float: left;
}

h5 {
  float: left;
  margin-top: 6px;
}


button {
  float: right;
}

#sendBnt {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sender {
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.receiver {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
}

.negociation {
  display: flex;
  float: left;
  border-radius: 10px;
  height: 140px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
  flex-direction: column;
}

.contract-container{
  float: left;
  display: flex;
  flex-direction: column;
  width: 180px;
  margin: 5px;
  padding: 5px;
  background-color: burlywood;
  border-radius: 5px;
}

.desc-container{
  float: right;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 5px;
  padding-right: 5px;
}
