.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.content-container{
  height: 220px;
}

.amount{
  font-size: 20px;
  margin-left: 10px
}

.contract{
  display: flex;
}

.contract-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img{
  margin-left: 10px
}

.contractWithRole{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
}
