.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #3f3f3f;
  margin-top: 3%;
}

#start {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 240px;
  height: 50px;
  font-size: 30px;
}

.information {
  display: flex;
}

nz-list {
  width: 200px;
  font-weight: bold;
}

h4 {
  margin-left: 5px;
}


img {
  border-radius: 50%;
  border: 1px solid #8b8b8b;
}

.listContainer{
  border: 1px solid #8b8b8b;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  max-height: 180px;
  overflow-y: auto;
  box-shadow: 5px 5px 5px #888888;
  background-color: aliceblue;
  padding-left: 3px;
  padding-right: 3px;
  width: 220px;
  position: absolute;
  z-index: 999;
}


.roleContainer{
  width: 92%;
}
