
.cardContainer{
  height: 126px;
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

.circle{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #FBF8A0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2f63d4;
  font-weight: bold;
}
