.container{
  display: inline-flex;
  background-color: #4e8014;
}

.day{
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height:35px;
  border: 1px solid #efefef;
  margin-left: 1px;
  color: #f0f2f5;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}
