<div class="container">
  <h1 nz-title style="margin-top: 20px">DOMEGO</h1>
  <span nz-text><u>Un jeu sérieux pédagogique</u></span>
  <div class="creationContainer">
    <!--    <img src="../../assets/icons/arrow.png" width="200" height="200" alt="Picture">-->
    <!--    <button id="createSalon" nz-button nzType="default" (click)="createASalon()">Créer un salon</button>-->
    <!--    <button id="joinSalon" nz-button nzType="default" (click)="joinASalon()">Join un salon</button>-->
    <nz-card>
      <h4>Entrez votre nom !</h4>
      <input nz-input placeholder="Entrez votre nom" [(ngModel)]="value" (ngModelChange)="getUsername()" />
      <div class="choice">
        <button class="create" (click)="createASalon()">Créer une partie</button>
      </div>
      <nz-table #filterTable [nzShowPagination]="false" [nzData]="listOfDisplayData" nzTitle="Parties disponibles">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>Créateur</th>
            <th>
              Nombre de joueurs
            </th>
            <th>Joindre</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filterTable.data">
            <td>{{ data?.roomID}}</td>
            <td>{{ data?.creator}}</td>
            <td>{{ data?.numberOfPlayer }}</td>
            <td>
              <button nz-button (click)="joinSalon(data)" [disabled]="data.numberOfPlayer===6">Join</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <app-game-creator #gameCreator (test)="testdd($event)" [userName]="value"></app-game-creator>
</div>