.container{
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("../../assets/icons/controle-construction.jpg");
  display: flex;
  flex-direction: column;
}

h1{
  color: #3f3f3f;
  align-items: center;
}

nz-card{
  color: rgba(0,0,0,0.95);
}


.creationContainer{
  opacity: 0.9;
  width: 500px;
  margin-top: 80px;
  align-self: center;
  border: 1px solid #8b8b8b;
  color : rgba(0, 0, 0, 0.9)
}

.choice{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.create, .join{
  border-radius: 5px;
  justify-content: space-between;
  height: 70px;
  width: 500px;
  background-color: lightblue;
  font-size: 28px;
  color: white;
  font-weight: bold;
}

#createSalon{
  width: 240px;
  height: 50px;
  margin-left: 20px;
  font-size: 30px;
  border: #2f92b1 solid 2px;
}

nz-table{
  margin-top: 25px;
  border: #8b8b8b solid 1px;
  max-height: 500px;
  overflow-y: auto;
}


img{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  10% { transform: translate(10px, 0px) rotate(0deg); }
}
