<div class="activity2Container">
  <h2>Payer des ressources</h2>
  <div>
    <div class="row">
      <img src="../../assets/icons/person.png" alt="Person">
      <div style="width: 20px;"></div>
      <div>
        <div class="blue_square"><p style="color: white">1</p></div>
        <label nz-checkbox nzDisabled [(ngModel)]="checked1"></label>
      </div>
    </div>
    <div class="row">
      <img src="../../assets/icons/faillante.png" alt="faillante">
      <div class="column">
        <div class="blue_square"><p style="color: white">1</p></div>
        <label nz-checkbox [(ngModel)]="checked2">-1R</label>
      </div>
      <div class="column">
        <div class="blue_square"><p style="color: white">3</p></div>
        <label nz-checkbox [(ngModel)]="checked3">-3R</label>
      </div>
    </div>
    <div class="row">
      <img src="../../assets/icons/duration.png" alt="duration">
    </div>
  </div>
  <div class="information">
    <h3>Ressources à payer: {{(checked1 ? 1 : 0) + (checked2 ? 1 : 0) + (checked3 ? 3 : 0)}}</h3>
    <h3>Risques à réduire: {{(checked2 ? 1 : 0) + (checked3 ? 2 : 0)}}</h3>
    <button nz-button nzType="default" nzShape="round">Confirmer</button>
  </div>
</div>

