.allContainer{
  display: flex;
  flex-wrap: wrap;
  max-height: 280px;
  overflow-y: auto;
  width: 100%;
}

.container{
  width: 40px;
  height: 35px;
  color: white;
  display: flex;
  background-color: #c54e3c;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  border: 1px solid #efefef;
}

.day{
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height:35px;
  border: 1px solid #efefef;
  margin-left: 1px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

.current{
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height:35px;
  border: 1px solid #efefef;
  margin-left: 1px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  background-image: url('../../../../assets/blueflag.png');
  background-size: 40px;
}

.isCurrent{
  background-image: url('../../../../assets/blueflag.png');
  background-size: 40px;
  width: 40px;
  height:35px;
  color: white;
  display: flex;
  background-color: #c54e3c;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  border: 1px solid #efefef;
}

.signal{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.header{
  display: flex;
}
