.waitContainer {
  background: rgba(132,132,132,0.5);
  height: 43vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}
