<div class="activity2Container">
  <h2>Payer des ressources</h2>
  <div class="row_plain">
    <div class="column_plain">
      <div class="row">
        <img src="../../../../assets/icons/person.png" alt="Person">
        <div style="margin-left: 30px">
          <div class="blue_square">1</div>
          <label nz-radio [ngModel]="true"></label>
        </div>
      </div>
      <div class="row">
        <img src="../../../../assets/icons/faillante.png" alt="faillante">
        <div class="blue_square"
             *ngFor="let item of payActivity; let i=index"
             style="margin-left: 30px">{{item.monney}}</div>
      </div>
      <div class="row_plain">
        <div style="margin-left: 60px">
          <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="updateChecked()">
            <label nz-radio
                   *ngFor="let item of payActivity; let i=index"
                   [nzValue]="item.id">-{{item.risk}}R
            </label>
          </nz-radio-group>
        </div>
      </div>
      <div class="row">
        <img src="../../../../assets/icons/duration.png" alt="duration">
      </div>
    </div>
    <div class="column">
      <div style="height: 50px"></div>

      <h3>Ressources à payer: {{totalRes}}</h3>
      <h3>Risques à réduire: {{riskReduced}}</h3>

    </div>
  </div>
  <div style="height: 30px"></div>
  <button nz-button nzType="default" nzShape="round" (click)="popConfirm()">Confirmer</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Confirmation" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Êtes-vous sûr d'payer {{totalRes}} ressources?</p>
  </nz-modal>
</div>
