/*.send {*/
/*  position:relative;*/
/*  width:150px;*/
/*  min-height: 50px;*/
/*  background:#F8C301;*/
/*  border-radius:5px; !* 圆角 *!*/
/*}*/

/*.arrow {*/
/*  position:absolute;*/
/*  top:5px;*/
/*  right:-16px; !* 圆角的位置需要细心调试哦 *!*/
/*  width:0;*/
/*  height:0;*/
/*  fonts-size:0;*/
/*  border:solid 8px;*/
/*  border-color:#cacaca #cacaca #cacaca #F8C301;*/
/*}*/
.container{
  width: 200px;
  min-height: 50px;
  background-color: #d9edf7;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.roleName{
  font-weight: bold;
}
